name: "Build & Deploy"
on:
  push:
    branches:
      - main
permissions:
  contents: write

jobs:
  check_links:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      - run: pipenv run python check_links.py

  deploy:
    needs: check_links
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      - run: pipenv run mkdocs gh-deploy --force
